<div class="card album-card mr-3 mb-2" style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="{{ album.imagePath }}" class="img-responsive album-pic" alt="">
    </div>
    <div class="col-8">
      <div class="card-block px-2">
        <h4 class="card-title pt-2">{{album.name}}</h4>
        <p class="card-text">{{album.artist}}</p>
      </div>
    </div>
  </div>
</div>
