.album-card {
  outline: none;
  min-width: 20rem;
  border: 0px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(41,41,41,1) 44%, rgba(88,88,88,1) 100%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 1;

  &::before {
    border: 0px;
    border-radius: 5px;
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    background: linear-gradient(90deg, rgba(81,176,157,1) 0%, rgba(63,43,150,1) 100%);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: -1;
    transition: opacity 0.4s cubic-bezier(.25,.8,.25,1);
    opacity: 0;
  }

  &.active::before {
    opacity: 1;
  }

  .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
  }
  .card-text {
    font-style: italic;
    font-size: 0.75rem;
    color: white;
  }

  .album-pic {
    border-radius: 5px;
    max-height: 6rem;
    color: white;
  }
}
