.album-menu {
  background: rgb(10,10,10);
  background: linear-gradient(90deg, rgba(10,10,10,1) 0%, rgba(23,23,23,1) 44%, rgba(38,38,38,1) 100%);
  color: white;

  .title {
    font-size: 0.75rem;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 900;
  }

  .add-button {
    font-size: 0.75rem;
    cursor: pointer;
  }
}


