<div class="row album-menu pt-2 mb-2 d-flex flex-row align-items-center">
  <div class="col">
    <h5 class="title pl-3">
      ALBUM LIST
    </h5>
  </div>
  <div class="col text-center">
    <h4 class="logo">
      MUSICALLY
    </h4>
  </div>
  <div class="col text-right mr-3">
    <h5 class="add-button" (click)="onNewAlbum()">+ ADD ALBUM</h5>
  </div>
</div>
<div class="d-flex flex-row flex-nowrap overflow-auto album-list px-3">
    <app-album-item
      *ngFor="let albumEl of albums; let i = index"
      [album]="albumEl"
      [index]="i"></app-album-item>
</div>


