input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.review-row {
  background: #333;
  height: 100%;
  color: white;

  .card {
    color: #333;
  }
}

.form-control{
  background-color: #e8e8e8;
 }
