<div class="row mt-3 p-3 review-row">
  <div class="col-7">
    <h5>Reviews</h5>
    <div *ngIf="album.reviews.length==0">
      <h4>No reviews </h4>
    </div>
    <div class="card-container">
      <div class="card mt-4" *ngFor="let review of album.reviews">
        <div class="card-body">
          <h5 class="card-title">{{review.name}}'s Review:</h5>
          <p class="card-text">
            {{review.review}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5 review-form">
    <h5>Submit Review</h5>
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmitReview()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="review">Review</label>
          <textarea type="text" id="review" formControlName="review" class="form-control" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <button
            type="submit"
            id="submit"
            class="btn btn-info"
            [disabled]="!reviewForm.valid">
            Submit Review
          </button>
      </div>
    </div>
    </form>
  </div>
</div>
