input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.album-row {


  .bg-container{
    z-index: -1;
    position: absolute;
    overflow: hidden;
    top: -25px;
    height: 115%;
    width: 100%;

    .bg-blur {
      object-fit: fill;
      position: absolute;
      background-position: center;
      top: -25px;
      left: -25px;
      z-index: -2;
      transform: scale(1.22);
      overflow:hidden;
      width: 100%;
      height: 100%;
      opacity: 1;
      filter: blur(8px) grayscale(90%);
      background-color: rgba(0, 0, 0, 0.9);
      box-shadow: inset 0 0 0 2000px rgba(209, 209, 209, 0.7);
    }
  }

  .album-art {
    max-height: 420px;
  }

  .album-details {
    .album-name {
      font-weight: bold;
    }

    .album-artist {
      font-weight: lighter;
      font-style: italic;
    }
  }
}

.review-row {
  background: darkgray;
  height: 100%;
}
