<div class="row album-row mt-3 px-3">
  <div class="bg-container p-0 m-0">
    <div class="bg-blur" [style.background-image]="'url(' + album.imagePath + ')'">
    </div>
  </div>
  <div class="col-2">
    <img [src]="album.imagePath" alt="{{ album.name }}" class="img-fluid album-art shadow">
  </div>
  <div class="col-6 album-details d-flex flex-column align-self-center align-items-center">
    <h1 class="album-name align-self-start">{{ album.name }}</h1>
    <h3 class="album-artist align-self-start">{{ album.artist }}</h3>
  </div>
  <div class="col text-right">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">Manage Album</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" style="cursor: pointer;" (click)="onEditAlbum()">Edit Album</a>
      <a class="dropdown-item text-danger" style="cursor: pointer;" (click)="onDeleteAlbum()">Delete Album</a>
    </div>
  </div>
</div>
<app-album-review></app-album-review>
