<div class="jumbotron jumbotron-fluid hero-image bg-dark">
  <div class="jumbotron-background">
    <img src="assets/images/hero-background.jpg" class=" img-responsive blur">
  </div>
  <div class="container text-white text-center">
    <h1 class="display-4 hero-heading">MUSICALLY</h1>
    <p class="lead">Select an album to view and review it. </p>
  </div>
</div>
