<div class="container">
  <div class="row mt-3">
    <div class="col" >
      <h4 class="text-white text-center" *ngIf="!editMode">
        Create new album
      </h4>
      <h4 class="text-white text-center" *ngIf="editMode">
        Edit album
      </h4>
      <form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-3">
            <div class="album-art-container">
              <img [src]="imagePath.value" class="img-fluid album-art">
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="name" class="text-white">Name</label>
                  <input type="text" id="name" formControlName="name" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="artist" class="text-white">Artist</label>
                  <input type="text" id="artist" formControlName="artist" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="imagePath" class="text-white">Image URL</label>
                  <input type="text" id="imagePath" formControlName="imagePath" class="form-control" #imagePath>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col" formArrayName="reviews">
                <div class="row" *ngFor="let reviewCtrl of albumForm.get('reviews').controls; let i = index"
                  [formGroupName]="i" style="margin-top: 10px;">
                  <div class="col-3">
                    <label for="name" class="text-white">Reviewer Name</label>
                    <input type="text" class="form-control" formControlName="name" name="name">
                  </div>
                  <div class="col">
                    <label for="name" class="text-white">Review</label>
                    <textarea type="number" class="form-control" formControlName="review" rows="4"></textarea>
                  </div>
                  <div class="col-1 text-right">
                    <label class="text-white">Remove</label>
                    <button type="button" class="btn btn-danger" (click)="onDeleteReview(i)">X</button>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col">
                    <button type="submit" class="btn btn-success mr-2" [disabled]="!albumForm.valid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
