@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.form-control{
  background-color: #e8e8e8;
 }

$body-bg: #333;

$theme-colors: (
  "success": rgba(81,176,157,1)
);
@import "node_modules/bootstrap/scss/bootstrap";
