<div class="row">
  <div class="col px-0">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="row">
  <div class="col fixed-bottom album-list-container px-0">
      <app-album-list></app-album-list>
  </div>
</div>
